$white: #fff;
$black: #000;
$orange: #ff970a;
$nav-toggles: #4c4c4c;
$red: #ff0000;
$grey: #a3a3a3;
$dark-grey: #181818;
$light-grey: #a9a9a9;
$card-color: #c0c0c0;
$calc-buttons: #1b1b1b;
$calc-buttons-active: #696969;
$button: #a1a1a1;
$videos: #2b2b2b;

