.calculator {
  margin-bottom: 59px;
  background-color: $dark-grey;
}

.calculator__inner {
  padding: 71px 65px 87px 65px;
  max-width: 1150px;
}

.calculator__header {
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  max-width: 900px;
}

.calculator__information {
  display: flex;
  justify-content: space-between;
}

.calculator__input-and-buttons {
  padding-right: 1%;
}

.calculator__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 84px;
}

.calculator__label {
  display: flex;
  flex-direction: column;
}

.calculator__summ {
  min-width: 100%;
  padding: 15px;
  font-size: 23px;
  line-height: 22px;
  color: $white;
  //margin-bottom: 13px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  margin-top: 10px;
}

.calculator__summ:hover,
.calculator__summ:focus {
  opacity: 0.5;
}

.calculator__min-max {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.calculator__label,
.calculator__min-price,
.calculator__max-price,
.calculator__buttons-text {
  font-size: 15px;
  line-height: 18px;
  color: $card-color;
}

.calculator__buttons-text {
  margin-top: 30px;
  margin-bottom: 16px;
}

.calculator__button {
  color: $calc-buttons;
  background-color: $black;
}

.calculator__button--active {
  color: $calc-buttons-active;
  background-color: $white;
  transform: translateX(40px);
}

.calculator__button,
.calculator__button--active {
  border-radius: 27px;
  border: none;
  cursor: pointer;
}

.calculator__button-up {
  padding: 18px 73px;
}

.calculator__button-bottom {
  padding: 18px 47px;
}

.calculator__button:hover,
.calculator__button--active:hover,
.calculator__button:focus,
.calculator__button--active:focus {
  color: $orange;
}

.calculator__buttons-top,
.calculator__buttons-bottom {
  transform: translateX(-40px);
  display: flex;
}

.calculator__controls {
  position: relative;
  background-color: $dark-grey;
  margin-bottom: 17px;
}

.calculator__bar,
.calculator__toggle {
  position: absolute;
}

.calculator__bar {
  height: 5px;
  background: $orange;
  width: 100%;
  margin-left: 0;
  border-radius: 16px;
  top: -3px;
}

.calculator__toggle {
  top: -9px;
  width: 16px;
  height: 16px;
  padding: 0;
  background-color: $orange;
  border-radius: 50%;
  cursor: pointer;
  left: 40%;
  border: 1px solid $orange;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.3);
}

.calculator__numbers {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 49px 60px 47px 60px;
  background-color: $black;
  border-radius: 30px;
  max-height: 415px;
  margin-top: 10px;
}

.calculator__numbers::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  border: 1px solid $light-grey;
  min-width: 380px;
  top: 135px;
  left: 59px;
}

.calculator__title,
.calculator__text {
  margin-top: 0;
}

.calculator__title {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 14px;
  color: $light-grey;
}

.calculator__text-main,
.calculator__text {
  font-weight: 700;
}

.calculator__text-main {
  margin-bottom: 70px;
  font-size: 50px;
}

.calculator__text {
  margin-bottom: 61px;
  font-size: 43px;
  line-height: 43px;
}

.calculator__profit {
  display: flex;
  justify-content: space-between;
}

.calculator__toggles {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 15px;
}

.numbers__button,
.numbers__button-consult {
  text-transform: uppercase;
  cursor: pointer;
}

.numbers__button {
  padding: 17px 29px;
  border-radius: 27px;
  font-size: 15px;
  line-height: 15px;
  background-color: $orange;
  color: $black;
  border: none;
}

.numbers__button:hover,
.numbers__button:focus {
  background-color: $white;
  color: $black;
}

.numbers__button-consult {
  font-size: 12px;
  line-height: 13px;
  padding: 10px 22px;
  max-width: 165px;
  background-color: $black;
  color: $button;
  border: 1px solid $light-grey;
  text-align: center;
}
