.navigation {
  margin-top: 5px;
  margin-bottom: 115px;
  position: relative;
}

.navigation::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  border: 1px solid $light-grey;
  width: 1440px;
  bottom: -5px;
  transform: translateX(-50%);
  left: 50%;
}

.navigation__inner {
  display: flex;
  padding-top: 6px;
  padding-bottom: 14px;
  padding-left: 42px;
  padding-right: 32px;
  position: relative;
  justify-content: space-between;
}

.navigation__list {
  list-style: none;
  //display: grid;
  //grid-template-columns: 1fr 1fr max-content 1fr 1fr 1fr;
  padding-left: 0;
  margin-top: 27px;
  margin-bottom: 0;
  //grid-column-gap: 40px;
  max-width: 780px;
  display: flex;
  flex-wrap: wrap;
}

.navigation__item:not(:last-child) {
  padding-right: 40px;
}

.navigation__logo {
  width: 165px;
  height: 62px;
  padding-right: 5px;
}

.navigation__logo-mobile,
.navigation__toggle-mobile {
  display: none;
}

.navigation__button {
  margin-top: 10px;
  border-radius: 60px;
  color: $orange;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 37px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 31px;
  font-family: "sf-med", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.navigation__button:hover,
.navigation__button:focus {
  background-color: $orange;
  color: $black;
}

.navigation__buttons {
  position: absolute;
  right: 50px;
  top: 100px;
}

.navigation__toggles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 22px;
}

.navigation__toggle {
  background-color: inherit;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navigation__toggle:hover,
.navigation__toggle:focus {
  opacity: 0.5;
}

.navigation__toggle svg {
  color: $nav-toggles;
}

.navigation__link {
  font-family: "inter", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: $white;
}

.navigation__link:hover,
.navigation__link:focus {
  opacity: 0.5;
}

@media (max-width: 1270px) {
  .navigation__button {
    position: absolute;
    top: 84px;
    left: 47px;
  }
}

@media (max-width: $max-tablet-width) {
  .navigation__logo-mobile,
  .navigation__toggle-mobile {
    display: block;
  }

  .navigation__logo-desktop,
  .navigation__button {
    display: none;
  }

  .navigation {
    background-color: $black;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .navigation__inner {
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .navigation__logo-mobile {
    width: 28px;
    height: 41px;
  }

  .navigation__buttons {
    display: flex;
    right: 25px;
    top: 30px;
  }

  .navigation__toggles {
    padding-right: 50px;
  }

  .navigation__toggle-mobile {
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: $white;
  }

  .navigation__close {
    width: 20px;
    height: 20px;
  }

  .navigation__open:hover,
  .navigation__open:focus,
  .navigation__close:hover,
  .navigation__close:focus {
    color: $orange;
  }

  .navigation__open svg {
    width: 33px;
    height: 11px;
  }

  .navigation__list {
    flex-direction: column;
    margin-top: 20px;
    max-width: 100%;
    background-color: $black;
    border-top: 1px solid #000;
    //display: none;
  }

  .navigation__item {
    padding-right: 0;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navigation__item:not(:last-child) {
    padding-right: 0;
  }

  .navigation__item:last-child {
    border-bottom: none;
  }
}

@media (max-width: $max-mobile-width) {
  .navigation {
    margin-bottom: 24px;
  }

  .navigation__inner {
    padding: 10px 23px;
  }

  .navigation__logo {
    width: 28px;
    height: 41px;
  }

  .navigation__toggles {
    padding-right: 32px;
  }

  .navigation__toggle svg {
    width: 14px;
    height: 14px;
  }
}
