.offers {
  margin-bottom: 99px;
}

.offers__inner {
  padding-left: 7%;
  padding-right: 5%;
}

.offers__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.offers__desktop-header {
  margin-top: 0;
  margin-bottom: 56px;
  font-family: "sf", "Arial", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.offers__mobile-cards {
  display: none;
}

.offers__desktop-card {
  padding: 32px 2% 37px 2%;
  width: 50%;
  background-color: $dark-grey;
  border-radius: 5%;
  margin-bottom: 10px;
  margin-right: 1%;
}

.offers__header {
  margin-top: 0;
  margin-bottom: 26px;
  display: flex;
  flex-wrap: wrap;
  font-size: 27px;
  line-height: 27px;
  font-weight: 500;
}

.offers__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-top: 0;
  margin-bottom: 28px;
  flex-wrap: wrap;
  max-width: 545px;
  justify-content: space-between;
  background-color: $black;
  border-radius: 25px;
}

.offers__button {
  font-size: 14px;
  line-height: 13px;
  font-weight: 400;
  background-color: $black;
  border: 1px solid $black;
  color: $light-grey;
  cursor: pointer;
  border-radius: 27px;
  padding: 15px 5px;
}

.offers__button--active {
  border-color: $orange;
  color: $orange;
}

.offers__info {
  display: flex;
  flex-direction: column;
}

.offers__title,
.offers__text {
  margin-top: 0;
}

.offers__title {
  margin-bottom: 13px;
  font-size: 15px;
  line-height: 14px;
  color: $light-grey;
}

.offers__text {
  margin-bottom: 0;
  font-size: 17px;
  line-height: 25px;
  max-width: 365px;
}

.offers__profit {
  //display: flex;
  //flex-direction: column;
  margin-bottom: 38px;
  background-color: $black;
  border-radius: 18px;
  padding: 16px 23px 18px 21px;
  margin-top: 29px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.profit__list {
  // display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 19px;
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
  grid-template-columns: max-content 1fr 1fr 1fr 1fr;
}

.profit__item:first-child {
  padding-right: 15px;
}

.profit__header,
.profit__title,
.profit__text,
.profit__list,
.percent__list,
.percent__header,
.percent__title,
.percent__text {
  margin-top: 0;
}

.profit__header,
.profit__text,
.percent__text {
  margin-bottom: 0;
}

.profit__title {
  margin-bottom: 3px;
  font-size: 27px;
  line-height: 33px;
  font-weight: 900;
}

.profit__text {
  font-size: 13px;
  line-height: 16px;
}

.profit__price {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.offers__offer {
  margin: 0;
  background-color: $dark-grey;
  padding: 17px 27px 16px 22px;
  border-radius: 15px;
}

.profit__header,
.percent__header {
  font-size: 14px;
  line-height: 17px;
  color: $card-color;
}

.offers__percents {
  margin-top: 40px;
  margin-bottom: 109px;
}

.percent__list {
  //display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin-bottom: 0;
  background-color: $black;
  border-radius: 18px;
  padding: 31px 10% 28px 28px;
  justify-content: space-around;
}

.percent__header {
  margin-bottom: 5px;
}

.percent__title {
  margin-bottom: 4px;
  font-size: 33px;
  line-height: 41px;
  font-weight: 900;
}

.percent__text {
  font-size: 13px;
  line-height: 14px;
}

.offers__button-main {
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  background-color: $orange;
  border: none;
  color: $black;
  cursor: pointer;
  border-radius: 27px;
  padding: 19px 65px 19px 27px;
  position: relative;
  text-transform: uppercase;
}

.offers__button-main:hover,
.offers__button-main:focus {
  opacity: 0.5;
}

.offers__button-main::after {
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  left: 75%;
  top: 18px;
  width: 28px;
  height: 17px;
  background-image: url("img/arrow-right-button.svg");
  cursor: pointer;
}

.offers__button-top {
  background-color: $dark-grey;
  color: $white;
  border: none;
  max-width: 200px;
  border-radius: 15px;
  opacity: 0.5;
  padding: 10px 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: none;
}

.offers__button-top-right {
  transform: translateX(-10px);
}

.offers__button-top--active {
  opacity: 1;
}

.offers__label {
  position: relative;
  display: none;
}

.offers__select {
  color: $orange;
  border-radius: 25px;
  background-color: $black;
  border: 1px solid $orange;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 19px;
  min-width: 100%;
  appearance: none;
  position: relative;
  display: none;
}

.offers__label::after {
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  left: 91%;
  top: 19px;
  width: 16px;
  height: 10px;
  background-image: url("img/select-after.svg");
  pointer-events: none;
}

@media (max-width: $max-tablet-width) {
  .card {
    display: none;
  }

  .card--active {
    display: block;
  }

  .offers {
    margin-bottom: 60px;
  }

  .offers__wrapper {
    justify-content: center;
  }

  .offers__desktop-card {
    width: 100%;
    border-top-left-radius: 0;
  }

  .offers__header,
  .offers__list {
    display: none;
  }

  .offers__button-top,
  .offers__label,
  .offers__select {
    display: block;
  }

  .offers__label {
    margin-bottom: 25px;
  }

  .offers__buttons-top {
    display: flex;
  }
}
